body{
    font-family: system-ui;
    font-weight: 100;
    /* max-width: 400px; */
    margin: auto;
}
* { font-weight: inherit; }

img{ max-width: 100%; }

/* navigation */
nav ul { list-style-type: none; padding:0; }
nav li { margin-top: 1rem; }

a { color: inherit; }

a {
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: #F1357A;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.25em;
}
a:hover { background: #F1357A; color: #FFF; }


/* gallery */
.gallery{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(
            min( 128px, 100%), 1fr
        )
    );
}
